/* @import url(http://fonts.googleapis.com/earlyaccess/notosans.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css); */

html{
}

body {
    font-family: 'Noto Sans','NotoSans','Noto Sans JP','NotoSansJP', sans-serif;
    background: #383737;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 0;
    margin:0;
}

figure{
    margin:0;
}

.header{
    background: white;
    width: 100vw;
    height: 10vw;
    position: absolute;
}

.main_logo{
    width: 40%;
    position: relative;
    top:25%;
    left:25%;
}

.main_visual {
    width: 80vw;
    padding-top: 10vw;
    padding-bottom: 6vw;
    height: auto;
    opacity: 1;
}



.title {
    /* margin-top: 10vw; */
    padding-top: 6vw;
    margin: 0 0 0 0;
    letter-spacing: 0.1em;
    display: block;
    font-size: 6.3vw;
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
}

.subtext {
    font: normal normal medium 24px/38px Rounded M+ 1c;
    color: #ffffff;
    text-align: left;
    opacity: 1;
    font-weight: 700;
    font-size: 3.5vw;
    padding-left: 14vw;
    margin: 3vw 0 6vw 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.weight{
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-weight: 700;
}

.ar_button {
    display: inline-block;
    background: #EE6237;
    border-radius: 7px;
    opacity: 1;
    letter-spacing: 0.2em;
    font-weight: bold;
    vertical-align: middle;
    width: 66.666vw;
    height: 13.333vw;
    text-decoration: none;
    margin: 0vw 0vw 0vw 0vw;
}

#ar_button_text {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: none;
    font-size: 4.533vw;
    color: white;
    opacity: 1;
    letter-spacing: 0.4vw;
    font-weight: 800;
    line-height:13.333vw;  
    text-align:center;
    display: block;
}

.howto_button {
    display: inline-block;
    background: #6F6E6E;
    border-radius: 7px;
    opacity: 1;
    letter-spacing: 0.2em;
    font-weight: bold;
    vertical-align: middle;
    width: 66.666vw;
    height: 13.333vw;
    margin: 4vw 0 4vw 0;
}

.howto_button_text {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 4vw;
    opacity: 1;
    color: #ffffff;
    letter-spacing: 0.4vw;
    font-weight: 700;
    line-height:13.333vw;   
    text-align:center;
    display: block;
}

.footer_link_list {
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: center;
    padding-left: 0;
    padding-top: 3vw;
}

.link_button {
    display: inline-block;
    width: 15vw;
    height: auto;
    margin-left: 0vw;
    margin-right: 0vw;
    opacity: 1;
}

.footer_link {
    text-decoration: none;
}

.footer_text {
    margin-top: 8vw;
    color: #9BB1C9;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.footer_textcolor {
    margin-top: 5vw;
    color: #5F5F5F;
    font-size: 3.5vw;
    margin-bottom: 16px;
}

.margin_auto {
    margin: auto;
}


.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.3);
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    width: 90%;
    height: 92.5%;
    background-color: #ffffffe5;
    overflow-x: hidden;
    border-radius: 4vw;
    box-shadow: 2.933vw 2.933vw 5.866vw #00000041;
}

.closeModal {
    position: absolute;
    top: 6.4vw;
    left: 6.4vw;
    cursor: pointer;
}

.closeModal2 {
    bottom: 10px;
    cursor: pointer;
    line-height: 3.2vw;
    margin-top: 12vw;
    margin-bottom: 8vw;
}

.modal_title {
    
    display: block;
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: 3px;
    color: #333333;
    padding-top: 15vw;
    padding-bottom: 5vw;
    opacity: 1;
}

.modal_textarea {
    background-color: #2a395314;
    background-size: 50vw;
    padding-bottom: 5.066vw;
}

.modal_downloadtext {
    display: block;
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 4vw;
    margin-bottom: 2vw;
    color: #3C424B;
    opacity: 1;
    padding-top: 5.066vw;
}

.modal_textarea_text {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 4vw;
    color: #3C424B;
    opacity: 1;
    margin-top: 8vw;
    margin-bottom: 5.333vw;
}

.modal_img {
    width: 60%;
    padding-bottom: 7vw;
}
.modal_img2 {
    width: 60%;
}

.modal_textarea_img_size {
    width: 85%;
}

.modal_howto_notuse {
    border: 1.5px solid #1D314E;
    opacity: 1;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-top: 15vw;
    margin-left: 7vw;
    margin-right: 7vw;
}

.modal_howto_notuse_text {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 3.5vw;
    font-weight: 700;
    color: #EE6237;
    opacity: 1;
    position: relative;
}

/* .modal_howto_notuse_text::after{
    content: "";
    display: block;
    width: 20vw;
    border-bottom: 1px solid #333;
    position: absolute;
    padding-top: 3vw;
    left: calc(50% - 10vw);
} */

.modal_howto_notuse_text2 {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 3.5vw;
    color: #3C424B;
    opacity: 1;
}

.modal_margin_bottom{
    margin-bottom: 10.667vw;
}

ul.modal_notes_list {
    list-style-type: "";
    text-align: left;
    margin-top: 3vw;
    padding-left: 16vw;
    
    width: 82vw;
}

li.modal_notes_height {
    padding-bottom: 2.266vw;
}

.modal_notes_text {
    font-size: 4vw;
    display: block;
    
}

model-viewer {
    display: none;
    width: 100%;
    height: 181.333;
}