/* @import url(http://fonts.googleapis.com/earlyaccess/notosans.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css); */

html{
}

body {
    font-family: 'Noto Sans','NotoSans','Noto Sans JP','NotoSansJP', sans-serif;
    background: #383737;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 0;
    margin:0;
}

figure{
    margin:0;
}

.header{
    background: white;
    width: 100vw;
    height: 10vw;
    position: absolute;
}

.main_logo{
    width: 40%;
    position: relative;
    top:25%;
    left:25%;
}

.main_visual {
    width: 80vw;
    padding-top: 10vw;
    padding-bottom: 6vw;
    height: auto;
    opacity: 1;
}



.title {
    /* margin-top: 10vw; */
    padding-top: 6vw;
    margin: 0 0 0 0;
    letter-spacing: 0.1em;
    display: block;
    font-size: 6.3vw;
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
}

.subtext {
    font: normal normal medium 24px/38px Rounded M+ 1c;
    color: #ffffff;
    text-align: left;
    opacity: 1;
    font-weight: 700;
    font-size: 3.5vw;
    padding-left: 14vw;
    margin: 3vw 0 6vw 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.weight{
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-weight: 700;
}

.ar_button {
    display: inline-block;
    background: #EE6237;
    border-radius: 7px;
    opacity: 1;
    letter-spacing: 0.2em;
    font-weight: bold;
    vertical-align: middle;
    width: 66.666vw;
    height: 13.333vw;
    text-decoration: none;
    margin: 0vw 0vw 0vw 0vw;
}

#ar_button_text {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: none;
    font-size: 4.533vw;
    color: white;
    opacity: 1;
    letter-spacing: 0.4vw;
    font-weight: 800;
    line-height:13.333vw;  
    text-align:center;
    display: block;
}

.howto_button {
    display: inline-block;
    background: #6F6E6E;
    border-radius: 7px;
    opacity: 1;
    letter-spacing: 0.2em;
    font-weight: bold;
    vertical-align: middle;
    width: 66.666vw;
    height: 13.333vw;
    margin: 4vw 0 4vw 0;
}

.howto_button_text {
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 4vw;
    opacity: 1;
    color: #ffffff;
    letter-spacing: 0.4vw;
    font-weight: 700;
    line-height:13.333vw;   
    text-align:center;
    display: block;
}

.footer_link_list {
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: center;
    padding-left: 0;
    padding-top: 3vw;
}

.link_button {
    display: inline-block;
    width: 15vw;
    height: auto;
    margin-left: 0vw;
    margin-right: 0vw;
    opacity: 1;
}

.footer_link {
    text-decoration: none;
}

.footer_text {
    margin-top: 8vw;
    color: #9BB1C9;
    font-size: 4vw;
    margin-bottom: 1vw;
}

.footer_textcolor {
    margin-top: 5vw;
    color: #5F5F5F;
    font-size: 3.5vw;
    margin-bottom: 16px;
}

.margin_auto {
    margin: auto;
}


.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.3);
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    width: 90%;
    height: 92.5%;
    background-color: #ffffffe5;
    overflow-x: hidden;
    border-radius: 4vw;
    box-shadow: 2.933vw 2.933vw 5.866vw #00000041;
}

.closeModal {
    position: absolute;
    top: 6.4vw;
    left: 6.4vw;
    cursor: pointer;
}

.closeModal2 {
    bottom: 10px;
    cursor: pointer;
    line-height: 3.2vw;
    margin-top: 12vw;
    margin-bottom: 8vw;
}

.modal_title {
    
    display: block;
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: 3px;
    color: #333333;
    padding-top: 15vw;
    padding-bottom: 5vw;
    opacity: 1;
}

.modal_textarea {
    background-color: #2a395314;
    background-size: 50vw;
    padding-bottom: 5.066vw;
}

.modal_downloadtext {
    display: block;
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 4vw;
    margin-bottom: 2vw;
    color: #3C424B;
    opacity: 1;
    padding-top: 5.066vw;
}

.modal_textarea_text {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 4vw;
    color: #3C424B;
    opacity: 1;
    margin-top: 8vw;
    margin-bottom: 5.333vw;
}

.modal_img {
    width: 60%;
    padding-bottom: 7vw;
}
.modal_img2 {
    width: 60%;
}

.modal_textarea_img_size {
    width: 85%;
}

.modal_howto_notuse {
    border: 1.5px solid #1D314E;
    opacity: 1;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-top: 15vw;
    margin-left: 7vw;
    margin-right: 7vw;
}

.modal_howto_notuse_text {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 3.5vw;
    font-weight: 700;
    color: #EE6237;
    opacity: 1;
    position: relative;
}

/* .modal_howto_notuse_text::after{
    content: "";
    display: block;
    width: 20vw;
    border-bottom: 1px solid #333;
    position: absolute;
    padding-top: 3vw;
    left: calc(50% - 10vw);
} */

.modal_howto_notuse_text2 {
    text-align: center;
    font: normal normal medium 26px/38px Rounded M+ 1c;
    font-size: 3.5vw;
    color: #3C424B;
    opacity: 1;
}

.modal_margin_bottom{
    margin-bottom: 10.667vw;
}

ul.modal_notes_list {
    list-style-type: "";
    text-align: left;
    margin-top: 3vw;
    padding-left: 16vw;
    
    width: 82vw;
}

li.modal_notes_height {
    padding-bottom: 2.266vw;
}

.modal_notes_text {
    font-size: 4vw;
    display: block;
    
}

model-viewer {
    display: none;
    width: 100%;
    height: 181.333;
}

:not(:defined) > * {
    display: none;
}
.AR-model{
    text-align: center;
    margin-top: 10px;
}
.Infomation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    background-color:white;
    overflow: scroll;
}
.Infomation>a{
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:2px 2px 2px white;
    background-color: rgb(0, 0, 0);
}
.Infomation2{
    font-size: 24px;
    text-align: left;
    margin-left: auto;
    background-color: whitesmoke;
}
.samples{
    display: flex;
    justify-content: center;
    width: 100%;
    height:auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0%;
}
.Infomation>ul{
    margin: 5px;
}
.Infomation>ul>li{
    font-size: 36px;
    font-style: italic;
}
#loadtime{
    color: red;
    font-size: xx-large;
}
#device{
    color: orange;
    font-size: xx-large;
}
#iOS{
    font-size: xx-large;
}
#Android{
    font-size: xx-large;
}
model-viewer {
    width: 100%;
    background-color: white;
    display: none;
}
model-viewer#reveal {
    --poster-color: transparent;
}
p{
  font-size: 50px;
  font-weight: bolder;
  display: block;
  height: 60px;
  width: 75%;
  text-align: center;
  padding: 0.25em 0.5em;
  margin: 5px auto;
  color: white;
  background-color: orange;
  border-radius: 30px;
}
#normal{
  background-color: rgb(140, 136, 136);
}
#min{
  background-color: rgb(204, 204, 204);
}
#fly{
  background-color: rgb(241, 238, 238);
}
#ar-button{
    font-size: 48px;
    position: absolute;
    bottom: 16px;
    right: 16px;
}
#imghalf{
    padding: 0%;
    margin: 0%;
    width: 50%;
    height: auto;
}
.imgsize{
    margin: 0%;
    width: 95%;
    height: auto;
    border: 5px solid brown;
    border-radius: 30px;
}
/* 画面サイズと左右分割 */
/* 消すと縦一列に戻ります。 */
@media (min-width: 600px) {
    #box {
      display: table;
      width: 100%;
    }
    #L-box {
      display: table-cell;
      width: 50%;
    }
    #R-box {
      display: table-cell;
    }
}
model-viewer {
    width: 100%;
    height: 680px;
    background-color: ghostwhite;
}
#ar-button {
    background-image: url(./img/ar_icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 175px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 30px;
    color:#4285f4;
    height: 60px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}
#ar-button:active {
    background-color: #E8EAED;
}
#ar-button:focus {
    outline: none;
}
#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}
@keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}
@keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
}
model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
}
model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
}
model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
}
model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
}
model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
}
.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 16px;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
}
.slide.selected {
    border: 2px solid #4285f4;
}
.slide:focus {
    outline: none;
}
.slide:focus-visible {
    outline: 1px solid #4285f4;
}